/build*/
/cmake-build*/
._*
.idea/
.vs/
.vscode/
compile_commands.json
*.obj
*.lib
*.exp
*.pdb
*.ilk
*.exe
__pycache__/
*.pyc
/tests/assets/**/*.safetensors
/unittests/
/models/
/reference/
/resources/
/patches/
/target_proj/
/nocommit/
/perf/
/logs/
/windows_prebuild/
/*.wav
/flutter/
/.cache/
